.App {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
}

.ImApp {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06),0 2px 5px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  .ImApp {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 80%;
    overflow: visible;
  }
}

.Header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
}

.Header__image {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  border: 1px solid #eee;
  margin-right: 8px;
}

.Header__title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.Header__meta {
  color: #7D8FA1;
  font-size: 12px;
  margin-top: 3px;
}

.Messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px 5vw;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Messages::-webkit-scrollbar {
  display: none;
}

.Message {
  padding: 6px 8px;
  margin: 2px;
  border-radius: 4px;
  line-height: 20px;
  max-width: 50%;
  word-break: break-all;
}

.Message__time {
  display: block;
  font-size: 11px;
  opacity: 0.5;
  margin-left: 8px;
  margin-top: 2px;
  float: right;
}

.Message--other {
  background-color: #eee;
  margin-right: auto;
}

.Message--me {
  background-color: #cef;
  margin-left: auto;
}

.Footer {
  display: flex;
  align-items: center;
  background: #eee;
  width: 100%;
  padding: 16px 24px;
}

.Textarea__container {
  position: relative;
  flex-grow: 1;
  margin-right: 16px;
}

.Textarea__container .SendButton {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.Textarea {
  display: block;
  background-color: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #1d1c1d;
  resize: none;
  padding: 14px 60px 14px 14px;
  flex-grow: 1;
  border: 0;
  width: 100%;
  min-height: 48px;
}

.Textarea:focus {
  outline: none !important;
}

.Textarea::placeholder {
  color: #999 !important;
}

.SendButton {
  display: inline-flex;
  align-items: center;
  background-color: #4fa1f9;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 32px;
  padding: 0 8px;
  transition: all .15s ease;
}

.SendButton:hover {
  background-color: #3882d1;
}

.SendButton[disabled] {
  background-color: #fff;
  color: #aaa;
  cursor: auto;
}
