.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ImApp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06),0 2px 5px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  .ImApp {
    height: 80%;
    overflow: visible;
  }
}

.Header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
}

.Header__image {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  border: 1px solid #eee;
  margin-right: 8px;
}

.Header__title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.Header__meta {
  color: #5a6b7c;
  font-size: 13px;
  margin-top: 3px;
}

.Messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px 5vw;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Messages::-webkit-scrollbar {
  display: none;
}

.Message {
  padding: 6px 8px;
  margin: 2px;
  border-radius: 4px;
  line-height: 20px;
  max-width: 60%;
  word-break: break-word;
}

.Message__sender {
  font-weight: 500;
  display: block;
  margin-bottom: 2px;
}

.Message__time {
  display: block;
  font-size: 11px;
  opacity: 0.5;
  margin-left: 8px;
  margin-top: 2px;
  float: right;
}

.Message--other {
  background-color: #eee;
  margin-right: auto;
}

.Message--you {
  background-color: #cef;
  margin-left: auto;
}

.Footer {
  display: flex;
  align-items: center;
  background: #eee;
  width: 100%;
  padding: 12px 16px;
}

@media screen and (min-width: 960px) {
  .Footer {
    padding: 16px 24px;
  }
}

.Textarea__container {
  display: grid;
  position: relative;
  flex-grow: 1;
  margin-right: 16px;
}

.Textarea__container::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.Textarea,
.Textarea__container::after {
  background-color: #fff;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #1d1c1d;
  resize: none;
  padding: 12px 48px 12px 12px;
  border: 0;
  width: 100%;
  min-height: 44px;
  overflow: hidden;
  grid-area: 1 / 1 / 2 / 2;
}

.Textarea:focus {
  outline: none !important;
}

.Textarea::placeholder {
  color: #999 !important;
  white-space: nowrap;
}

.Textarea__button {
  position: relative;
}
