@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap");

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

body, textarea {
  font-family: 'Saira Condensed', sans-serif;
}

.pageMargin {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100%;
  min-height: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  box-sizing: border-box;
  resize: none;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 140%;
  width: 100%;
  flex-grow: 1;
  border: 0;
  color: #fffc;
  caret-color: #fff;
  border-radius: 0rem;
}

textarea:focus {
  outline: none !important;
}


::placeholder {
  color: #fff !important;
  opacity: 0.4;
}


@media (max-width: 688px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 688px) and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1312px) {
  html {
    font-size: 110%;
  }
}

@media (min-width: 1312px) {
  html {
    font-size: 120%;
  }
}
