@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #1d1c1d;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 48px);
}

.TextareaContainer {
  position: relative;
  background-size: contain;
  width: 718px;
  height: 367px;
  margin-bottom: 100px;
}

.SendButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-size: contain;
  cursor: pointer;
}

textarea {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #1d1c1d;
  resize: none;
  padding: 1rem;
  width: 716px;
  height: 325px;
  flex-grow: 1;
  border: 0;
  background-color: transparent;
  margin: 1px;
  text-transform: capitalize;
}

textarea:focus {
  outline: none !important;
}


::placeholder {
  color: #fff !important;
  opacity: 0.4;
}


