.Label {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 3px 6px;
  border-radius: 3px;
  transition: all .25s ease;
  background-color: var(--label-secondary);
  color: var(--label-secondary-text);
}

.Label--info {
  background-color: var(--label-info);
  color: var(--label-info-text);
}

.Label--success {
  background-color: var(--label-success);
  color: var(--label-success-text);
}

.Label--danger {
  background-color: var(--label-danger);
  color: var(--label-danger-text);
}

.Label--number {
  font-size: 13px;
}

.Label small {
  font-size: 12px;
  opacity: 0.6;
  margin-left: 0.25em;
}
