.App {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
}

.Filter label {
  margin: 20px 0 10px 0;
}

.Filter select {
  font-size: inherit;
  font-family: inherit;
}

.Filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.Filter div {
  display: flex;
  flex-direction: column;
}

.Products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.Product {
  display: flex;
  flex-direction: column;
}

.Product_img {
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.Product small {
  color: gray;
  margin: 8px 0 4px;
}