@import './modern-normalize.min.css';

body {
  overflow: hidden;
}

.App {
  display: grid;
  grid-template-columns: 320px 1fr auto;
  height: calc(100vh - 48px);
  position: relative;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  border-right: 1px solid var(--border);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Sidebar::-webkit-scrollbar {
  display: none;
}

.Sidebar__title {
  font-weight: 500;
  margin: 24px 24px 4px;
}

.Sidebar__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 2px 24px 0;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}

.Sidebar__item span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Sidebar__item svg {
  flex-shrink: 0;
  fill: currentColor
}

.Sidebar__item:hover {
  background-color: var(--hover);
}

.Sidebar__item--selected {
  background-color: var(--accent-lighter) !important;
}

.Sidebar .FileInput {
  margin: 16px 24px;
}

.Sidebar__mic {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent);
  font-size: 15px;
  font-weight: 500;
  color: var(--day);
  padding: 12px 16px;
  margin: 8px 24px 24px;
  transition: var(--ease);
  height: 44px;
}

.Sidebar__mic:hover {
  box-shadow: inset 0 0 0 100px var(--hover-dark);
}

.Sidebar__mic--active {
  background-color: var(--danger) !important;
}

.Sidebar__mic svg {
  fill: currentColor;
}

.Tag__container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 8px 24px 0;
}

.Tag {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background-color: var(--accent-lighter);
  border-radius: 4px;
  font-size: 14px;
  padding: 4px 6px 4px 8px;
  line-height: 20px;
}

.Tag svg {
  cursor: pointer;
  fill: currentColor;
  border-radius: 20px;
  transition: var(--ease);
}

.Tag svg:hover {
  background-color: var(--hover-dark);
  box-shadow: 0 0 0 1px var(--hover-dark);
}

.Tag__form {
  margin-top: 8px;
  position: relative;
  width: 100%;
}

.Tag__form input {
  font-size: 14px;
  font-family: inherit;
  border: 1px solid var(--border);
  background-color: var(--day);
  color: var(--night);
  padding: 8px 12px;
  border-radius: 4px;
  line-height: 18px;
  width: 100%;
  transition: var(--ease);
}

.Tag__form input:focus {
  outline: 2px solid var(--accent);
  outline-offset: -1px;
}

.Tag__form button {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 12px;
  border: none;
  background-color: var(--accent);
  color: var(--day);
  font-weight: 500;
  line-height: 18px;
  padding: 4px 8px;
  border-radius: 4px;
  transition: var(--ease);
}

.Tag__form button:hover {
  box-shadow: inset 0 0 0 100px var(--hover-dark);
}

.Tag__form button:disabled {
  background-color: var(--border);
  pointer-events: none;
}

.Tag__form p {
  font-size: 13px;
  color: var(--danger);
  margin-top: 8px;
  margin-bottom: 0;
}

.Player {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  border-top: 1px solid var(--border);
  background-color: var(--day);
}

.Player--disabled .rhap_container {
  opacity: 0.5;
  filter: grayscale(1);
}

.Main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 12px 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Main::-webkit-scrollbar {
  display: none;
}

.EmptyState {
  margin: auto;
  text-align: center;
  padding: 48px;
  color: var(--dim);
}

.EmptyState__title {
  font-size: 24px;
  letter-spacing: -0.02em;
}

.Segment {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 15px 24px;
  transition: var(--ease);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.Segment:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.Segment--selected {
  border-top-color: var(--border);
  border-bottom-color: var(--border);
}

.Segment__status {
  width: 20px;
}

.Segment svg {
  flex-shrink: 0;
  display: block;
}

.Transcript {
  line-height: 1.5;
  margin-right: auto;
}

.Details {
  background-color: var(--day);
  flex-shrink: 0;
  border-left: 1px solid var(--border);
  width: 320px;
  margin-right: -320px;
  transition: var(--ease);
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Details::-webkit-scrollbar {
  display: none;
}

.Details--open {
  margin-right: 0;
}

.Details__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--day);
  padding: 20px 20px 20px 24px;
  border-bottom: 1px solid var(--border);
  font-weight: 500;
}

.Details__close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 100px;
  transition: var(--ease);
  color: inherit;
}

.Details__close:hover {
  background-color: var(--hover);
  box-shadow: 0 0 0 8px var(--hover);
}

.Details__close svg {
  fill: currentColor;
  display: block;
}

.Details__title {
  font-size: 14px;
  font-weight: 500;
  margin: 24px 24px 8px;
}

.Details__content {
  font-size: 14px;
  line-height: 1.75;
  margin: 0 24px;
}

.Details__row {
  display: table-row;
}

.Details__row div {
  display: table-cell;
  padding-right: 16px;
}

.rhap_container {
  background-color: transparent;
  box-shadow: none;
  padding: 16px 12px 16px 18px;
}

.rhap_controls-section {
  flex-grow: 0;
  margin-right: 0 !important;
}

.rhap_main-controls-button {
  margin: 0;
}

.rhap_time {
  font-size: 13px;
  color: var(--dim);
}

.rhap_progress-bar {
  background-color: var(--border);
  height: 4px;
}

.rhap_progress-indicator {
  box-shadow: none;
  background-color: var(--accent);
  width: 12px;
  height: 12px;
  margin-left: -6px;
  top: -4px;
  transition: box-shadow .15s ease;
}

.rhap_progress-indicator:active {
  box-shadow: 0 0 0 2px var(--accent-25);
}

.rhap_progress-filled {
  background-color: var(--accent);
}

.rhap_button-clear {
  color: var(--night);
}

.rhap_volume-container {
  flex-basis: 0;
  transition: all .3s ease;
  padding: 8px;
}

.rhap_volume-button {
  margin-right: 0;
  width: 24px;
  height: 24px;
}

.rhap_volume-button svg {
  display: block;
  width: 24px;
  height: 24px;
}

.rhap_volume-bar-area {
  visibility: hidden;
  position: relative;
}

.rhap_volume-container:hover {
  flex-basis: 96px;
}

.rhap_volume-container:hover .rhap_volume-bar-area {
  visibility: visible;
  margin-left: 8px;
}

.rhap_volume-bar {
  background-color: var(--border);
}

.rhap_volume-filled,
.rhap_volume-indicator {
  background-color: var(--accent);
  box-shadow: none;
}

.rhap_volume-indicator:active {
  box-shadow: 0 0 0 2px var(--accent-25);
}