@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap");

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body, textarea {
  font-family: 'Saira Condensed', sans-serif;
}

form {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
}

.pageLayout {
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  background-color: #fcfcfc;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  flex: 1;
  padding: 1.5rem 0.75rem 12rem 0.75rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: 1rem;
}

.sidePanel {
  box-sizing: border-box;
  width: 100%;
  min-height: 8rem;
  background: linear-gradient(160deg, #A4E3FE -10%, #3E68E1 20%, #152668 100%);
  padding: 1rem 0.75rem 1rem 0.75rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 1vw;
}

h1,
h2,
h3
{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #0F4BBB;
}

h3
{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #00000090;
}

.headerTopGap {
  margin-top: 0.75em;
}

.headerBottomGap {
  margin-bottom: 0.75em;
}

.lightText * {
  color: #eef !important;
}

.purchasePreviewImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33% 15%;
}

.cartSummary {
  text-transform: uppercase;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
}

.cartItemCount {
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cartSummaryImage {
  box-sizing: border-box;
  padding: 1em;
  max-width: 50%;
  max-height: 14rem;
}

.ShoppingCartButton {
  display: inline-block;
  width: 1.25rem;
  height: auto;
  margin: 0 0.5rem;
}

.group {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
}

label {
  position: absolute;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  display: block;
  margin: -0.15rem 0 0 0.60rem;
  padding: 0 0.2rem 0 0.2rem;
  background-color: #fff;
  color: #00000090;
  user-select: none;
  border-radius: 0.25rem;
  transition: 0.3s;
  text-transform: uppercase;
}

input, textarea, select {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.15rem;
  font-family: inherit;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  margin: 0.4rem 0 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: #00000030;
  border-radius: 0.1rem;
  overflow: auto;
  resize: none;
  transition: 0.3s;
  background-color: #ffffff;
}

.CheckoutApp select
{
  /* reset */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  --dropdown-handle-size: 0.35rem;

  background-image:
    linear-gradient(45deg, transparent 50%, #00000080 50%),
    linear-gradient(135deg, #00000080 50%, transparent 50%);
  background-position:
    calc(100% - var(--dropdown-handle-size) - 1rem) calc(50%),
    calc(100% - 1rem) calc(50%),
    center;
  background-size:
    var(--dropdown-handle-size) var(--dropdown-handle-size),
    var(--dropdown-handle-size) var(--dropdown-handle-size),
    100% 100%;
  background-repeat: no-repeat;
}

input:hover,
textarea:hover,
select:hover
{
  background-color: #eee;
}

button {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.15rem;
  font-family: inherit;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  margin: 0.4rem 0 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: #00000030;
  border-radius: 0.1rem;
  overflow: auto;
  resize: none;
  transition: 0.3s;
  color: #ffffff;
  background-color: #0F4BBB;
  text-transform: uppercase;
}

button:hover {
  background-color: #003080;
}

.widgetGroup {
  width: 100%;
}

.multiFieldRow {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;

  display: flex;
  margin: 0.0rem 0.10rem;
  padding: 0.1rem 0.15rem;
  font-size: 1rem;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
}

li:hover {
  background-color: #00000010;
}

.endadornment {
  margin-left: auto;

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

@media (max-width: 360px) {
  html {
    font-size: 100%;
  }

  main {
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  html {
    font-size: 100%;
  }

  main {
    width: 100%;
  }
}

@media (min-width: 400px) and (max-width: 688px) {
  html {
    font-size: 100%;
  }

  main {
    width: 100%;
  }
}

@media (min-width: 688px) and (max-width: 992px) {
  html {
    font-size: 100%;
  }

  main {
    width: 640px;
  }
}

@media (min-width: 992px) and (max-width: 1312px) {
  html {
    font-size: 110%;
  }

  .pageLayout {
    flex-direction: row;
  }

  .sidePanel {
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    min-height: 100%;
    align-self: stretch;
    padding: 6rem 1rem 12rem 1rem;
    flex-direction: column;
  }

  main {
    width: 720px;
    padding: 3rem 27rem 12rem 5rem;
  }

  .cartSummaryImage {
    max-width: 100%;
  }

}

@media (min-width: 1312px) {
  html {
    font-size: 120%;
  }

  .pageLayout {
    flex-direction: row;
  }

  .sidePanel {
    position: fixed;
    right: 0;
    width: 22rem;
    min-height: 100%;
    align-self: stretch;
    padding: 3rem 1rem 12rem 1rem;
    flex-direction: column;
  }

  main {
    width: 800px;
    padding: 4rem 32rem 12rem 6rem;
  }

  .cartSummaryImage {
    max-width: 100%;
  }
}

.intercom-lightweight-app {
  display: none !important;
}
