.BigTranscript .Entity.colors {
  color: #1fd3f3;
}

.BigTranscript .Entity.category {
  color: #1fd3f3;
}

.BigTranscript .Entity.brand {
  color: #1fd3f3;
}

.BigTranscript .Entity.sex {
  color: #1fd3f3;
}

.BigTranscript .Entity.sizes {
  color: #1fd3f3;
}

.BigTranscript .Entity.sort {
  color: #1fd3f3;
}
