.Megamenu__outer {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.Megamenu__outer--open {
  display: block;
}

.Megamenu__outer--closed {
  display: none;
}

.Megamenu {
  max-width: 1280px;
  margin: 0 auto;
  height: 308px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-x: scroll;
  padding: 16px;

  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Megamenu::-webkit-scrollbar {
  display: none;
}

.Megamenu__content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Megamenu__list {
  list-style: none;
  margin: 0;
  padding: 0;

  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Megamenu__item {
  min-width: 120px;
  padding: 8px;
  cursor: pointer;
}

.Megamenu__item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
