.SmartFilters__outer {
  position: sticky;
  z-index: 10;
  width: 100%;
  top: 0;
}

.SmartFilters {
  background-color: #fff;
  padding: 16px 16px 0;
}

@media screen and (min-width: 960px) {
  .SmartFilters {
    padding: 16px 32px 0;
  }
}

.SmartFilters__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (min-width: 960px) {
  .SmartFilters__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .SmartFilters__inner {
    grid-template-columns: repeat(6, 1fr);
  }
}

.SmartFilter {
  padding: 8px 0;
  line-height: 24px;
  cursor: pointer;
  position: relative;
  color: #7D8FA1;
  border-bottom: #0F1923 solid 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  white-space: pre;
  flex-grow: 0;
  transition: all .15s ease;
}

.SmartFilter:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgOCA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTggMEw0IDRMMCAwSDhaIiBmaWxsPSIjMEYxOTIzIi8+Cjwvc3ZnPgo=");
  background-repeat: no-repeat;
  background-position: center;
}

.SmartFilter:hover,
.SmartFilter--hasValue {
  color: #0F1923;
}

.SmartFilter--hasValue::after {
  content: none;
}

.SmartFilter__value {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.SmartFilter__close {
  margin-left: auto;
  flex-shrink: 0;
  fill: #0F1923;
  z-index: 2;
}

.SmartFilter__value svg {
  fill: #0F1923;
}
