@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

html {
  font-size: 72px;
  font-size: clamp(64px, 4vw, 128px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #0F1923;
  color: #fff;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  line-height: 1.25;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intercom-lightweight-app {
  display: none !important;
}
