.Segment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--border);
  padding: 20px;
  border-radius: 4px;
  margin: 0 24px 24px;
  scroll-margin-block: 24px;
  transition: var(--ease);
}

.Segment--active {
  background-color: var(--hover);
}

.Segment__header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Segment__timestamp {
  font-size: 14px;
  color: var(--dim);
  margin-right: auto;
}

.Segment__action {
  border: 1.5px solid transparent;
  padding: 3px 7px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: -3px 0;
}

.Segment__action--warn {
  color: darkorange;
  border-color: darkorange;
}

.Segment__action--mute {
  color: tomato;
  border-color: tomato;
}

.Segment__action--ban {
  color: crimson;
  border-color: crimson;
}

.Segment__action--reward {
  color: green;
  border-color: green;
}

.Segment__transcript {
  line-height: 1.5;
  margin-right: auto;
}

.Segment__word {
  opacity: 0.5;
  transition: var(--ease);
}

.Segment__word--highlighted {
  opacity: 1;
}

.Segment__details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 8px;
  font-size: 14px;
  line-height: 20px;
  color: var(--dim);
}

.Segment__details svg {
  flex-shrink: 0;
  display: block;
}

.Segment__end {
  scroll-margin-block: 24px;
}
