.TranscriptContainer {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.SearchApp {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Navigation {
  padding: 24px 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px 32px;
}

@media (max-width: 720px) {
  .Navigation {
    padding: 24px;
  }
}

.Navigation__left {
  flex-grow: 1;
}

.Navigation__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  gap: 8px 32px;
}

@media (max-width: 720px) {
  .Navigation__right {
    gap: 8px 16px;
  }
}

.Navigation__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: .6;
  padding: 8px 0;
  transition: all .15s ease;
}

.Navigation__item:hover {
  opacity: 1;
}

.Navigation__item--active {
  font-weight: 600;
  opacity: 1;
  border-bottom: 2px solid #fff;
}

.Navigation__item img {
  width: 20px;
  height: 20px;
}

@media (max-width: 720px) {
  .Navigation__item img {
    display: none;
  }
}

.Navigation__avatar img {
  display: block;
  width: 32px;
  height: 32px;
}

.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 32px;
  padding-bottom: 10vh;
}

.Search__logo {
  display: block;
  height: 48px;
  margin-bottom: 32px;
}

.Footer {
  color: #7D8FA1;
  padding: 32px;
}