.App {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.TranscriptContainer {
  position: absolute;
  bottom: 20px;
  left: 32px;
  z-index: 999;
  height: 32px;
}
