.Input {
  position: relative;
  height: 64px;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
}

.Input__textfield {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f2d3b;
  border: 1px solid #415f7d;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  border-radius: 64px;
  padding: 0 64px 0 56px;
  transition: all .15s ease;
}

.Input__textfield::placeholder {
  color: #7d8fa1;
}

.Input__textfield:hover {
  border-color: #4a6c8e;
}

.Input__textfield:active,
.Input__textfield:focus,
.Input__textfield--active {
  outline: 0;
  background-color: #21303e;
  border-color: #0a79ba;
  box-shadow: 0 0 0 1px #0a79ba;
}

.Input__icon {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  left: 20px;
}

.Input__button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.Input__handled {
  background-color: #1F2D3B;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  left: 20px;
  opacity: 1;
  animation: fadeInOut ease 1.5s forwards;
}

.Input--small {
  height: 44px;
}

.Input--small .Input__textfield {
  padding: 0 48px 0 38px;
  font-size: 14px;
}

.Input--small .Input__icon,
.Input--small .Input__handled {
  width: 16px;
  height: 16px;
  top: 14px;
  left: 14px;
}

.Input--small .Input__button {
  top: 4px;
  right: 4px;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  15%, 65% {
    opacity: 1;
    transform: scale(1);
  }
}