.SearchView {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.SearchView--standalone {
  top: 0;
}

.Navigation {
  padding: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px 24px;
  border-bottom: 1px solid #1f2d3b;
}

@media (max-width: 720px) {
  .Navigation {
    flex-wrap: wrap;
  }
}

.Navigation__logo {
  height: auto;
  width: 128px;
  flex-shrink: 0;
}

.SearchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px 0;
  margin: auto 0;
  padding: 24px 24px 10vh;
}

.SearchBox__logo {
  display: block;
  height: 48px;
}

@media (max-width: 720px) {
  .SearchBox__logo {
    height: 40px;
  }
}

.Results {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 688px;
  padding: 24px;
}

@media (min-width: 1200px) {
  .Results {
    margin-left: 152px;
  }
}

.Result {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: inherit;
  text-decoration: none;
  line-height: 1.25;
}

.Result__title {
  font-size: 20px;
  font-weight: 500;
  color: #4dbcfc;;
}

.Result__title:hover {
  text-decoration: underline;
}

.Result__link {
  color: #7d8fa1;
}

.Result__snippet {
  color: #f8f9fa;
  line-height: 1.5;
}

.Footer {
  padding: 24px;
}

@media (min-width: 1200px) {
  .Footer {
    margin-left: 152px;
  }
}

.MadeWith {
  font-size: 14px;
  color: #7d8fa1;
}

.MadeWith a {
  color: inherit;
}