body {
  color: #222;
  font-size: 16px;
  line-height: 1.25;
  overflow: hidden;
}

.app {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 100vh;
}

.left {
  padding: 2rem;
  overflow-y: auto;
}

.title {
  margin: 0;
}

.status {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.375rem;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.toolbar > input {
  margin-right: auto;
}

button,
input::file-selector-button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

button,
input {
  font-size: 0.875rem;
}

.segment {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.segment-content {
  display: grid;
  gap: 0.25rem;
}

.segment-details {
  font-size: 0.875rem;
  color: #666;
}

.tentative {
  font-style: italic;
  color: #666;
}

.right {
  background-color: #f5f5f5;
  overflow-y: auto;
  padding: 1.5rem;
  position: relative;
}

pre {
  display: grid;
  gap: 1rem;
  margin: 0;
}

code {
  font-size: 0.8125rem;
  padding: 0 !important;
}
