body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.openconsole {
  font-size: 14px;
  padding: 8px;
  border-radius: 2px;
  background-color: #cef;
  color: #345;
  margin: 2em auto;
  max-width: 480px;
}