.BookingForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06),0 2px 5px 0 rgba(0, 0, 0, .2);
}

.BookingForm__tabs {
  display: flex;
  align-items: center;
}

.BookingForm__tab {
  padding: 14px;
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.BookingForm__tab--active {
  background-color: #0F1923;
  color: #fff;
  font-weight: 600;
}


@media screen and (max-width: 960px) {
  .BookingForm__tab:nth-child(n + 2) {
    display: none;
  }
}

.BookingForm__form {
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media screen and (max-width: 960px) {
  .BookingForm__form {
    grid-template-columns: 1fr;
  }
}

.BookingForm__item--right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.BookingForm__button {
  background-color: #009FFA;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: inherit;
  border: none;
  padding: 12px 20px;
}

.BookingForm__button:hover {

}

.BookingForm .widgetGroup button,
.BookingForm .widgetGroup select,
.BookingForm .widgetGroup input,
.BookingForm .widgetGroup label {
  font-family: inherit;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

.BookingForm .widgetGroup input,
.BookingForm .widgetGroup select {
  padding: 1.5rem 0.5rem 0.6rem 1rem;
  border: 1px solid #D6DBE1;
  font-size: 16px;
}

.BookingForm .widgetGroup input:focus,
.BookingForm .widgetGroup select:focus {
  border-color: #7D8FA1;
}

.BookingForm .widgetGroup label {
  left: 1rem;
  color: #7D8FA1;
  font-size: 12px;
}

.BookingForm .widgetGroup.checkbox input {
  width: 20px;
  height: 20px;
}

.BookingForm .calendar {
  z-index: 100;
  top: 1rem;
  font-size: 12px;
}

.BookingForm .calendar table {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06),0 2px 5px 0 rgba(0, 0, 0, .2);
}

.BookingForm .calendar td {
  padding: 4px;
}

.BookingForm .calendar .header div {
  text-align: center;
}