@import './modern-normalize.min.css';

body {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  display: grid;
  grid-template-columns: 320px 1fr;
  position: relative;
  overflow: hidden;
  flex: 1;
}

/* Sidebar */

.Sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  border-right: 1px solid var(--border);
  padding: 8px 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Sidebar::-webkit-scrollbar {
  display: none;
}

.Sidebar__section {
  padding: 16px 0;
}

.Sidebar__title {
  font-weight: 600;
  padding: 0 24px 8px;
  margin: 0;
}

.Sidebar__content {
  padding: 0 24px;
}

/* Main content */

.Main {
  background-color: var(--dawn);
  display: grid;
  grid-template-rows: auto min-content;
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Main::-webkit-scrollbar {
  display: none;
}

.Main__inner {
  padding: 8px 24px;
}

/* Player */

.Player {
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-top: auto;
  background-color: var(--day);
  border-top: 1px solid var(--border);
  padding: 0 8px;
  height: 0;
  opacity: 0;
  transition: var(--ease);
  transform: translateY(var(--player-height));
}

.Player--visible {
  height: var(--player-height);
  opacity: 1;
  transform: translateY(0);
}

/* Empty state */

.EmptyState {
  margin: auto;
  text-align: center;
  padding: 48px;
}

.EmptyState__icon {
  margin-bottom: 8px;
}

.EmptyState__title {
  font-size: 24px;
  font-weight: 600;
}

.EmptyState__description {
  line-height: 1.5;
  color: var(--dim);
  max-width: 50ch;
}
