@import './modern-normalize.min.css';

body {
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  display: grid;
  grid-template-columns: 320px 1fr;
  position: relative;
  overflow: hidden;
  flex: 1;
}

/* Sidebar */

.Sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  border-right: 1px solid var(--border);
  padding-block: 12px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Sidebar::-webkit-scrollbar {
  display: none;
}

.Sidebar__title {
  font-weight: 600;
  padding: 12px 24px 8px;
  margin: 0;
}

.Sidebar__content {
  display: grid;
  padding: 0 24px 12px;
}

.Sidebar__content--wide {
  display: grid;
  padding-bottom: 12px;
}

/* Main content */

.Main {
  background-color: var(--dawn);
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.Main::-webkit-scrollbar {
  display: none;
}

.Main__inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  padding: 16px 0;
}

/* Player */

.Player {
  margin-top: auto;
  background-color: var(--day);
  border-top: 1px solid var(--border);
  transition: var(--ease);
  height: 0;
  opacity: 0;
  transform: translateY(100px);
  position: sticky;
  bottom: 0;
}

.Player--visible {
  height: auto;
  opacity: 1;
  transform: translateY(0);
}

.EmptyState {
  margin: auto;
  text-align: center;
  padding: 48px;
  color: var(--dim);
}

.EmptyState__icon {
  margin-bottom: 8px;
}

.EmptyState__title {
  font-size: 22px;
  font-weight: 600;
}

.EmptyState__description {
  line-height: 1.5;
}

.EmptyState__description a {
  color: inherit;
  text-underline-offset: 2px;
}

.EmptyState__description a:hover {
  color: var(--accent);
}
