.Segment {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  padding: 16px;
  background-color: var(--segment);
  color: var(--text-primary);
  opacity: 0.5;
  transition: all .25s ease;
  scroll-margin-top: 80px;
}

.Segment:hover {
  box-shadow: 0 0 0 2px var(--segment);
}

.Segment__words {
  line-height: 1.5;
}

.Segment__words > span {
  display: inline-block;
  margin-right: 0.3em;
}

.Segment__labels {
  display: flex;
  gap: 8px;
  margin-top: 2px;
}

.Segment--active {
  opacity: 1;
  background-color: var(--segment-active);
  box-shadow: 0 0 0 2px var(--segment-active) !important;
}

.Segment--active .Segment__words > span {
  opacity: 0.4;
}

.Segment--active .Segment__words > span.highlighted {
  opacity: 1;
}
