.Segment {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 0 8px 20px;
  position: relative;
}

.Segment::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  border-radius: 4px;
  background-color: #EDF0F2;
}

.Segment__timestamp {
  color: #5A6B7C;
  font-size: 14px;
}

.Segment__words {
  line-height: 1.5;
}

.Segment__words span {
  display: inline-block;
  margin-right: 0.3em;
}

.Segment__labels {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.Label {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 3px 6px;
  border-radius: 3px;
  transition: all .25s ease;
}

.Label--success {
  background-color: #D6FDE6;
  color: #033517;
}

.Label--danger {
  background-color: #FCD9DD;
  color: #35040a;
}

.Label--tentative {
  background-color: #EDF0F2;
  color: #5A6B7C;
}