.MicButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 160px;
}

.MicButton__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 100px;
  background-color: var(--night);
  color: var(--day);
  padding: 14px;
  transition: var(--ease);
  position: relative;
  margin-bottom: 4px;
}

.MicButton__button:hover {
  box-shadow: 0 0 0 8px var(--hover-dark);
}

.MicButton__button--active {
  color: #fff;
  background-color: var(--accent);
  animation: pulsate 2s ease infinite;
}

.MicButton__button--active:hover {
  animation-play-state: paused;
}

.MicButton__title {
  font-weight: 600;
  font-size: 14px;
}

.MicButton__title--active {
  color: var(--accent);
}

.MicButton__description {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--dim);
  font-size: 12px;
}

.MicButton__description input {
  accent-color: var(--accent);
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 8px var(--accent-light);
  }
  50% {
    box-shadow: 0 0 0 12px var(--accent-light);
  }
  100% {
    box-shadow: 0 0 0 8px var(--accent-light);
  }
}
