.Tag {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  color: var(--dim);
  font-size: 14px;
  line-height: 20px;
  color: var(--dim);
}

.Tag small {
  font-size: 13.5px;
  line-height: 1;
}

.Tag--negative {
  background-color: var(--danger);
  border-radius: 3px;
  color: #fff;
  padding: 0 4px;
}
