.App {
  width: 100vw;
  height: 100vh;

  user-select: none;
  display: flex;
  flex-direction: column;
}

.Nav {
  flex-basis: 2.8rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #ffffff;
}
