@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
  font-size: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #0F1923;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intercom-app,
.intercom-lightweight-app {
  display: none !important;
}
