.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Hero {
  background-color: skyblue;
  padding: 10vh 20px;
  height: 100%;
}

.Navigation {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 72px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  padding: 0 8px;
  position: relative;
}

.Navigation__logo {
  height: 20px;
  margin: 16px;
}

.Navigation__item {
  padding: 16px;
  text-decoration: none;
  color: #0F1923;
}

.Navigation__item--right {
  margin-left: auto;
}