body {
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  overflow-x: hidden;

  --color-light-bg: #f2f7fa;
  --color-input-bg: #f2f7fa;
  --color-active-bg: #316EAE;
  --color-active-text: #ffffff;
  --dropdown-handle-size: 6px;
}

select, button, input, label {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

select, input, button {
  font-size: 1.0rem;
  line-height: 140%;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.App {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
    150deg, 
    rgb(83, 163, 249) 17.8%, 
    rgb(117, 223, 255) 48.54%, 
    rgb(219, 255, 246) 78.65%
  );
  min-height: 100vh;
}

form {
  box-sizing: border-box;
  min-height: 100%;
  padding: 8rem 0.4rem 10rem 0.4rem;

  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  align-content: center;
}

.group {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
  margin: 0.5rem 0;
  min-height: 3.5rem;
}

label {
  color: #4fa1f9 !important;
}

@media (max-width: 360px) {
  html {
    font-size: 80%;
  }

  form {
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 400px) {
  html {
    font-size: 85%;
  }

  form {
    width: 100%;
  }
}

@media (min-width: 400px) and (max-width: 688px) {
  html {
    font-size: 90%;
  }

  form {
    width: 100%;
  }
}

@media (min-width: 688px) and (max-width: 992px) {
  html {
    font-size: 100%;
  }

  form {
    width: 640px;
  }
}

@media (min-width: 992px) and (max-width: 1312px) {
  html {
    font-size: 120%;
  }

  form {
    width: 720px;
  }
}

@media (min-width: 1312px) {
  html {
    font-size: 120%;
  }

  form {
    width: 800px;
  }
}
