.PushToTalkContainer {
    width: 100vw;
    height: 9.2rem;
    position: fixed;
    bottom: 0;
    pointer-events: none;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 50;
  }
  