name: deploy demos
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "demos/ecommerce-checkout/**"
      - "demos/fashion-ecommerce/**"
      - "demos/fast-food/**"
      - "demos/flight-booking/**"
      - "demos/smart-home/**"
      - "demos/speech-to-text/**"

env:
  WEBPACK_MODE: prd
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 25
      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: common/temp/pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('common/config/rush/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.20.0
      - name: Setup Node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: '14'
      - name: Check change log update
        run: node common/scripts/install-run-rush.js change --target-branch origin/main --verify
      - name: Install Dependencies
        run: node common/scripts/install-run-rush.js install --no-link
      - name: Link dependencies
        run: node common/scripts/install-run-rush.js link
      - name: Build Project
        run: node common/scripts/install-run-rush.js rebuild --verbose
      - name: Prepare deployment directory
        run: mkdir -p tmp-upload-staging-area &&
            cp -r demos/ecommerce-checkout/build/ tmp-upload-staging-area/checkout &&
            cp -r demos/fashion-ecommerce/build/ tmp-upload-staging-area/fashion &&
            cp -r demos/flight-booking/build/ tmp-upload-staging-area/booking &&
            cp -r demos/smart-home/build/ tmp-upload-staging-area/smart-home &&
            cp -r demos/speech-to-text/build/ tmp-upload-staging-area/speech-to-text &&
            sed -i -- "s#</head>#<script src=\"https://cdn.lr-in.com/LogRocket.min.js\" crossorigin=\"anonymous\"></script><script>window.LogRocket \&\& window.LogRocket.init('jnynlo/speechly-demos');</script><script>!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console\&\&console.error\&\&console.error(\"Segment snippet included twice.\");else{analytics.invoked=!0;analytics.methods=[\"trackSubmit\",\"trackClick\",\"trackLink\",\"trackForm\",\"pageview\",\"identify\",\"reset\",\"group\",\"track\",\"ready\",\"alias\",\"debug\",\"page\",\"once\",\"off\",\"on\",\"addSourceMiddleware\",\"addIntegrationMiddleware\",\"setAnonymousId\",\"addDestinationMiddleware\"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement(\"script\");t.type=\"text/javascript\";t.async=!0;t.src=\"https://cdn.segment.com/analytics.js/v1/\" + key + \"/analytics.min.js\";var n=document.getElementsByTagName(\"script\")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=e};analytics._writeKey=\"wR1kLZa6OZJesflNLNxKvJOd61RIjaFi\";;analytics.SNIPPET_VERSION=\"4.15.3\";analytics.load(\"wR1kLZa6OZJesflNLNxKvJOd61RIjaFi\");analytics.page({Intercom:{hideDefaultLauncher:true}});}}();</script><script>window.CustomIdentifyHook = (uid) => {const LogRocket = window.LogRocket;if (LogRocket) LogRocket.identify(uid);};window.CustomLogHook = (eventName, eventParams) => {const Segment = window.analytics;if (Segment) Segment.track(eventName, eventParams);}</script></head>#" tmp-upload-staging-area/*/index.html
      - name: Authenticate to GCS
        uses: google-github-actions/auth@v0.4.0
        with:
          service_account: ${{ secrets.SPEECHLY_GC_SERVICE_ACCOUNT }}
          credentials_json: ${{ secrets.SPEECHLY_GC_SERVICE_ACCOUNT_CREDENTIALS }}
      - name: Upload demos to GCS
        uses: google-github-actions/upload-cloud-storage@v0.4.0
        with:
          path: tmp-upload-staging-area
          destination: ${{ secrets.SPEECHLY_DEMOS_BUCKET }}
          parent: false
